---
forms: [
    {
        type: "text",
        placeholder: "Login",
        name: "login"
    },
    {
        type: "password",
        placeholder: "Password",
        name: "password"
    }
]
---
{{!< link-page}}

<main class="flex justify-center items-center h-screen">
    <div class="w-[340px] h-[384px] bg-graphite rounded-md p-[20px]">
        {{> "title/title" title="Autorization"}}
        <form class="flex flex-col gap-y-12 justify-center items-center">
            {{#each forms}}
                <div>
                    {{> "input/input" }}
                </div>
            {{/each}}
            <div>
                {{> "button-confirm/button-confirm" btn="Sign Up" path="./dialog.hbs" }}
                <div class="text-center py-6">
                    {{> "link-page/link-page" link="./registration.hbs" link-title="Create account" }}
                </div>
            </div>
        </form>
    </div>
</main>
