<form class="text-center w-[47px] h-[47px] my-4 cursor-pointer overflow-hidden rounded-full">
    <label>
        {{{uploader}}}
        <figure class="relative w-[47px] h-[47px] ">
        <img src="{{src}}" id="preview" alt="Avatar" class="w-full h-full align-start object-cover" 
            class="bg-auto rounded-full box-border w-[47px] h-[47px] transition-all ease-linear" />
            <figcaption class="absolute inset-0 flex justify-center items-center z-10 opacity-0 transition-all ease-linear hover:opacity-100 hover:bg-gray-800/75">
                <span class="text-xl text-bold">+</span>
            </figcaption>
        </figure>
    </label>
</form>
