<main class="h-[760px] w-cover flex flex-row overflow-hidden">
{{{ Loader }}}
    <div class="basis-1/4 bg-graphite h-screen">
        <div class="chat-list">
          <article class="h-content">
            {{{chatsList}}}
          </article>
        </div>
    </div>
    <div class="basis-3/4 bg-transparent">
    <div class="customw p-2 overflow-y-auto scrollbar">
        {{{messenger}}}
    </div>
    </div>
</main>
