<main class="h-full flex flex-row overflow-hidden">
{{{ Loader }}}
    <div class="basis-1/4 bg-graphite">
        <div class="chat-list">
          <div class="h-content">
            {{{chatsList}}}
          </div>
        </div>
    </div>
    <div class="basis-3/4 bg-transparent">
    <div class="customw p-2 overflow-y-scroll scrollbar">
        {{{messenger}}}
    </div>
    </div>
</main>
