---
dataInput: {
    {
        type: "email", placeholder: "E-mail", name: "email", ref: "emailRef"
    },
    {
        type: "text", placeholder: "Login", name: "login", ref: "loginRef"
    },
    {
        type: "text", placeholder: "Name", name: "first_name", ref: "nameRef"
    },
    {
        type: "text", placeholder: "Second-name", name: "second-name", ref: "secondNameRef"
    },
    {
        type: "tel", placeholder: "Phone", name: "phone", ref: "phoneRef"
    },
    {
        type: "password", placeholder: "Password", name: "password", ref: "passwordRef"
    },
    {
        type: "password", placeholder: "Password repeat", name: "password", ref: "passwordRepeatRef"
    }
}
---
{{!< link-page}}

<main class="flex justify-center items-center h-screen">
    <div class="w-[340px] h-[615px] bg-graphite rounded-md p-[20px]">
        <form class="flex flex-col gap-y-2.5 justify-center items-center">
            {{> "title/title" title="Registration"}}
            <div>
                {{#each dataInput}}
                    <div class="py-2.5">
                        {{> "input/input" }}
                    </div>
                {{/each}}
            </div>
            <div>
                {{> "button-confirm/button-confirm" btn="Create account" path="./dialog.hbs"}}
                <div class="text-center py-6 text-blue">
                    {{> "link-page/link-page" link="./authorization.hbs" link-title="Sign in"}}
                </div>
            </div>
        </form>
    </div>
</main>
