<div>
    <hr class="border-t-2 border-hr-color w-12/14 mx-[15px] {{#if isSelected}} bg-select-graphite {{/if}}" />
    <div class="flex items-center gap-x-3 p-2.5 h-[73px] hover:bg-select-graphite">
        <div class="min-w-[47px] min-h-[47px] rounded-full bg-blue"></div>
        <div class="text-sm">
          <strong>{{title}}</strong>
          <p class="max-w-[250px] truncate">{{last_message.content}}</p>
        </div>
    </div>
</div>
    {{#if unread_count }}
        <span class="inline w-[15px] h-[15px] ml-auto align-middle text-center">{{unread_count}}</span>
    {{/if}}
</div>
