 <li>
    <div class="block px-4 py-2 hover:bg-light-select gap-x-2">
        <label for="{{uploadId}}" class="flex">
            <img src="{{src}}" alt="icon" class="pr-2"/>
            <p>{{title}}</p>
        </label>
            {{{upload}}}
    </div>
</li>
