<div class='flex items-center gap-x-3 m-[13px]'>
    <div class='min-w-[34px] min-h-[34px] rounded-full bg-cyan-400'></div>
    <div>
        <strong>{{login}}</strong>
    </div>
    <div class='ml-auto '>
        {{> 'drop-down/drop-down' }}
    </div>
</div>
<hr class='border-t-2 border-zinc-600 w-12/14 mx-[15px]'/>
