---
dialogs: [
    {
        login: "login1",
        lastMessage: "message",
    },
    {
        login: "login2",
        lastMessage: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aliquam beatae cupiditate dolorem esse est eveniet fuga, ipsam itaque nobis odio, pariatur praesentium provident quasi quod tempore voluptatem voluptatibus.",
    },
    {
        login: "login3",
        lastMessage: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dolor ea explicabo facilis, illo ipsum, laboriosam nihil, nulla officiis quaerat recusandae vitae! Accusantium aut consequatur delectus eligendi fuga, ipsum quisquam.",
    },
    {
        login: "login4",
        lastMessage: "Lorem ipsum dolor.",
    },
    {
        login: "login5",
        lastMessage: "Lorem ipsum.",
    },
]
---
{{!< link-page}}

<main class="h-screen flex flex-row overflow-hidden">
    <div class="basis-1/4 bg-graphite">
       {{> "header-list-dialog/header-list-dialog" src="../asserts/menu.svg"  }}
        <article>
            {{#each dialogs}}
                {{> "chats-list/chats-list" }}
            {{/each}}
        </article>
    </div>
    <div class="basis-3/4 bg-transparent">
        {{> "header-talk/header-talk" path="./" login="Solgar" src="../asserts/three-point.svg"}}
        <div class="flex items-center justify-center min-h-[665px]">
            <p>Select chat to change a message</p>
        </div>
        <form class="flex px-4">
            <div >{{> "drop-down/drop-down" path="./" src="../asserts/pin.svg"}} </div>
            <div class="w-11/12 px-2">{{> "message-input/message-input" placeholder="Write..." name="message" type="text"}}</div>
            <div class="ml-auto">
                <a href="./" class="rounded-full bg-blue">
                    <img src="../asserts/arrow.svg" alt="send"/>
                </a>
            </div>
        </form>
    </div>
</main>

