---
putData: [
    {
        type: 'password',
        placeholder: 'Old_password',
    },
    {
        type: 'password',
        placeholder: 'New_password',
    },
    {
        type: 'password',
        placeholder: 'Repeat_password',
    },
]
---
{{!< link-page}}

<div class='h-screen flex px-2'>
    <div class='mr-auto my-auto flex-none'>
        {{> 'back-button/back-button' src='../asserts/arrow-left.svg'}}
    </div>
    <div class='grow flex flex-col gap-y-2 justify-center items-center h-screen'>
            {{> 'avatar/avatar' src='../asserts/sd.png' }}
            {{#each putData}}
                <div class="py-2.5">
                    {{> 'input/input' }}
                </div>
            {{/each}}
        <div>
            {{> 'button-confirm/button-confirm' btn='Save' }}
        </div>
    </div>
</div>