---
pages: [
    {
        title: "Authorization",
        link: "./authorization.hbs",
    },
    {
        title: "Registration",
        link: "./registration.hbs",
    },
    {
        title: "Page 404",
        link: "./page404.hbs",
    },
    {
        title: "Page 500",
        link: "./page500.hbs",
    },
    {
        title: "Dialog",
        link: "./dialog.hbs",
    },
    {
        title: "Edit settings",
        link: "./edit-settings.hbs",
    },
    {
        title: "Edit Password",
        link: "./edit-password.hbs",
    },
    {
        title: "Settings",
        link: "./settings.hbs",
    },

]
---

{{!< link-page}}

<main class="flex justify-center text-2xl items-center h-screen">
    <nav class="text-center">
        {{#each pages}}
        <div>
            <a href={{link}}>
             <h1>{{title}}</h1>
            </a>
        </div>
        {{/each}}
    </nav>
</main>
