{{!< link-page}}

<main class="flex justify-center flex-col gap-5 items-center h-screen">
    {{> "title/title" title="404"}}
    <p>You got lost.</p>
    {{> "link-page/link-page" link="./dialog" link-title="Back to chats"}}
</main>
