---
dataInput: [
    {
        type: "email",
        placeholder: "E-mail",
        name: "email",
    },
    {
        type: "text",
        placeholder: "Login",
        name: "login",
    },
    {
        type: "text",
        placeholder: "Name",
        name: "first_name",
    },
    {
        type: "text",
        placeholder: "Second-name",
        name: "second-name",
    },
    {
        type: "tel",
        placeholder: "Phone",
        name: "phone",
    },
    {
        type: "password",
        placeholder: "Password",
        name: "password",
    },
    {
        type: "password",
        placeholder: "Password repeat",
        name: "password",
    }
]
---
{{!< link-page}}

<main class="flex justify-center items-center h-screen">
    <div class="w-[340px] h-[615px] bg-graphite rounded-md p-[20px]">
        <form class="flex flex-col gap-y-2.5 justify-center items-center">
            {{> "title/title" title="Registration"}}
            <div>
                {{#each dataInput}}
                    <div class="py-2.5">
                        {{> "input/input" }}
                    </div>
                {{/each}}
            </div>
            <div>
                {{> "button-confirm/button-confirm" btn="Create account" path="./dialog.hbs"}}
                <div class="text-center py-6 text-blue">
                    {{> "link-page/link-page" link="./authorization.hbs" link-title="Sign in"}}
                </div>
            </div>
        </form>
    </div>
</main>
