---
changeLinks: [
    {
        link: './edit-settings',
        link-title: 'Change profile',
    },
    {
        link: './edit-password',
        link-title: 'Change password',
    },
    {
        link: './',
        link-title: 'Log Out',
    }
]

lines: [
    {
        type: 'email',
        placeholder: 'E-mail',
        setting: 'defaut@yandex.ru',
    },
    {
        type: 'text',
        placeholder: 'Login',
        setting: 'Default',
    },
    {
        type: 'text',
        placeholder: 'Name',
        setting: 'Default',
    },
    {
        type: 'text',
        placeholder: 'Second-name',
        setting: 'Defaultovich',
    },
    {
        type: 'tel',
        placeholder: 'Phone',
        setting: '1021-1-2020',
    },
]

---
{{!< link-page}}

<div class='h-screen flex px-2'>
    <div class='mr-auto my-auto flex-none'>
        {{> 'back-button/back-button' src='../asserts/arrow-left.svg'}}
    </div>
    <div class='grow flex flex-col gap-y-2 justify-center items-center h-screen'>
        {{> 'avatar/avatar' src='../asserts/sd.png' }}
        {{#each lines}}
            {{> 'settings-input/settings-input' }}
        {{/each}}
        <ul class='py-10 mr-[380px] '>
            {{#each changeLinks}}
                <li>{{> 'link-page/link-page'}}</li>
            {{/each}}
        </ul>
    </div>
</div>