<hr class="border-t-2 border-hr-color w-11/12 mx-auto"/>
<a href="/" class="h-[73px] hover:bg-select-graphite ">
    <div class="flex items-center gap-x-3 p-2.5">
        {{#if avatar}}
            <img class="min-w-[47px] min-h-[47px] bg-origin-padding bg-center rounded-full" src={{avatar}} width="47" height="47"/>
        {{else}}
        <div class="min-w-[47px] min-h-[47px] rounded-full bg-blue"></div>
        {{/if}}
        <div>
            <strong>{{login}}</strong>
            <p class="max-w-[250px] truncate ">{{lastMessage}}</p>
        </div>
    </div>
</a>
