 <hr class='border-t-2 border-zinc-600 w-11/12 mx-auto'/>
 <li class='h-[73px]  hover:bg-zinc-700 '>
     <div class='flex items-center gap-x-3 p-2.5'>
         <div class='min-w-[47px] min-h-[47px] rounded-full bg-cyan-400'></div>
         <div>
         <strong>{{login}}</strong>
         <p class='max-w-[250px] truncate '>{{lastMessage}}</p>
         </div>
     </div>
 </li>
