<div class="flex flex-wrap justify-between my-1 gap-x-52 w-[510px]">
  <div>
    <div class="text-start text-bold">{{name}}</div>
  </div>
  <div>
    <div class="text-end">{{value}}</div>
  <div>
</div>
