<div id="dropdown" class="absolute bottom-14 z-10 hidden bg-select-graphite hover:divide-y-8 rounded-lg shadow w-44">
    <ul class="py-1 text-sm text-white" aria-labelledby="dropdownDefaultButton">
        {{{photo}}}
        {{{file}}}
        {{{location}}}
    </ul>
</div>
