
<div class="flex flex-row justify-center gap-x-52 w-[510px]">
    <label for="setting" class="mr-auto text-bold">{{placeholder}}</label>
    <input type={{type}} id="setting" name={{name}} placeholder={{setting}} class="ml-auto bg-transparent text-end focus:outline-none" disabled/>
</div>
