

<div class='flex flex-row justify-center gap-x-52 w-[510px]'>
    <label for='setting' class='mr-auto text-bold'>{{placeholder}}</label>
    <input type={{type}} id='setting' class='bg-transparent ml-auto text-end focus:outline-none' placeholder={{setting}} />
</div>
