<form method="post" enctype="multipart/form-data" class="text-center w-[130px] h-[130px] my-4 cursor-pointer overflow-hidden rounded-full">
    <label>
        {{{uploader}}}
        <figure class="relative w-[130px] h-[130px] ">
        <img src={{src}} id="preview" alt="Avatar" class="w-full h-full align-start object-cover" 
            class="bg-auto rounded-full box-border w-[130px] h-[130px] transition-all ease-linear" />
            <figcaption class="absolute inset-0 flex justify-center items-center z-10 opacity-0 transition-all ease-linear hover:opacity-100 hover:bg-gray-800/75">
                <img class="m-auto" alt="icon" src="srcHover"/>
            </figcaption>
        </figure>
    </label>
</form>
