<div class="bg-select-graphite text-white p-3 text-sm my-1 {{#if isMine}} rounded-l-lg rounded-br-lg self-end w-auto{{else}} 
 rounded-r-lg rounded-bl-lg self-start w-auto{{/if}}">
    {{ content }}
</div>
